@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Marcellus&family=Jost:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Jost", sans-serif;
}
.couple-photo {
  object-position: top center;
}

@media (max-width: 768px) {
  .couple-photo {
    object-position: right center;
  }
}